/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tracker {
    max-width: 400px;
    padding: 10px;
    border: 2px solid #333; /* Add a border around the tracker */
    border-radius: 10px; /* Add rounded corners to the border */
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20%;
}

#languages-h2 {
    font-size: 1em;
    padding-bottom: 6%;
}

.languages-list {
    list-style-type: none;
}

.language {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.language-name {
    flex: 1;
}

.language-bar {
    width: 240px;
    height: 15px;
    background-color: #bdbdbd;
    border-radius: 8px;
    margin: 0 10px;
    position: relative;
}

.language-progress {
    height: 100%;
    background-color: #00c3ff;
    border-radius: 8px;
}

.language-percentage {
    width: 40px;
    text-align: right;
}

